*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Container*/
.container{
    width: 100%;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*container for the QR code*/
.qr_card{
    height: 450px;
    width: 330px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

/**/
@media (max-width:320px) and (max-height: 480px) {
    .qr_card{
        width: 90%;
        height: 90%;
    }
}

.qr_img{
    width: 95%;
    height: 75%;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.qr_desc{
    width: 90%;
    height: 20%;
    margin-top: 1%;
}

.qr_desc h1{
    font-size: 1em;
    text-align: center;
}

.qr_desc p{
    color: hsl(220, 15%, 55%);
    font-size: 0.7em;
    text-align: center;
    margin-top: 5px;
}